body {
    background-image: url("../images/web theme.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
}

label {
    color: rgb(255, 255, 255);
    font-size: 120%;
    font-style: bild;
}

input {
    text-align: center;
}

input[type=submit] {
    height: 1.3cm;
    width: 10cm;
    color: #240f70;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: large;
    border-radius: 25px;
}

button {
    height: .8cm;
    width: 4cm;
    color: #3bafd8;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: large;
    border-radius: 25px;
}

input[type=text],
[type=tel] ,[type=number]{
    height: 1cm;
    width: 6cm;
    border: 5px;
    border-radius: 3px;
}

input[type=date] {
    height: 1cm;
    width: 4cm;
    border: 5px;
    border-radius: 3px;
}

 ::-webkit-input-placeholder {
    font-size: 130%;
}

input:focus::-webkit-input-placeholder {
    font-size: 150%;
    position: top;
    top: -15px;
    color: black;
    transition: 0.2s ease-out;
}

tab {
    padding-left: .5em;
}

nav {
    position: absolute;
    left: 100px;
    top: 30;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    margin-right: 25px;
    padding: 10px;
    border-radius: 10px;
}

nav .activee {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    margin-right: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e6ffff;
    color: black;
}

nav a:hover {
    background-color: #e6ffff;
    color: black;
}
.here_icon{
    height: 150px;
    width: 150px;
}