 body {
     margin: 0;
     padding: 0;
     background-image: url("../images/web theme.png");
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
 }
 
 .fci {
     width: 100%;
     height: 100vh;
     background-position: center;
     background-size: cover;
     -webkit-background-size: cover;
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -os-flex;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     font-size: 2vw;
     color: #fff;
 }
 
 nav {
     position: absolute;
     left: 100px;
     top: 30;
 }
 
 nav a {
     text-decoration: none;
     font-size: 20px;
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
     font-family: poppins;
     margin-right: 25px;
     padding: 10px;
     border-radius: 10px;
 }
 
 nav .activee {
     text-decoration: none;
     font-size: 20px;
     text-transform: uppercase;
     font-weight: bold;
     font-family: poppins;
     margin-right: 25px;
     padding: 10px;
     border-radius: 10px;
     background-color: #e6ffff;
     color: black;
 }
 
 nav a:hover {
     background-color: #e6ffff;
     color: black;
 }
 
 .fci h1 {
     font-family: germania one;
     font-size: 65px;
     margin: 0 0 25px;
     animation: animate 2s 1;
 }
 
 @keyframes animate {
     0% {
         transform: scale(0);
     }
     100% {
         transform: scale(1);
     }
 }