body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url("../images/web theme.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

a:hover {
    color: #140b3b;
    text-decoration: none;
}

.button {
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

input[type=submit] {
    height: 1cm;
    width: 2.5cm;
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: large;
    border-radius: 25px;
}

input[type=text],
[type=tel],
[type=number] {
    height: 1cm;
    width: 5cm;
    border: 5px;
    border-radius: 3px;
}

strong {
    color: #ffffff;
}

select {
    height: 1cm;
    width: 5cm;
    border: 5px;
    border-radius: 3px;
    margin: 10px;
}

select:focus {
    min-width: 150px;
    width: auto;
}

tr:hover {
    background-color: rgb(31, 54, 79);
}

nav {
    position: absolute;
    left: 100px;
    top: 30;
}

tab {
    padding-left: 1em;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    margin-right: 25px;
    padding: 10px;
    border-radius: 10px;
}

.labels {
    color: white;
    font-size: larger;
    border-radius: 25px;
}

.input {
    color: #e6ffff;
    border-radius: 5px;
    text-align: center;
    font-size: large;
}

nav .activee {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    margin-right: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e6ffff;
    color: black;
}

nav a:hover {
    background-color: #e6ffff;
    color: black;
}

.Active {
    position: relative;
    font-family: Arial;
}


/* table,th,td{
    width: 800px;
    margin: auto;
    front: size 300px;
    padding: 20px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    border-radius:  5px 5px 0 0;

} */

.Content_Table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    padding-left: 1em;
    border-radius: 7px 7px 7px 7px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.Content_Table thead tr {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.Content_Table th,
tr {
    padding: 20px 20px;
    width: 25px;
    height: 50px;
}

.Content_Table tbody tr {
    border-bottom: 1px solid #ffffff;
    color: #e6ffff;
}

.Content_Table tbody tr:nth-of-type(even) {
    background-color: rgb(173, 214, 235);
}

.Content_Table tr:nth-last-of-type {
    border-bottom: 2px solid #009879;
}

.Content_Table tbody tr:active {
    font-weight: bold;
    background-color: rgb(70, 164, 210);
}


/*table{
    width: 50%;

    border-radius: 25px;
    border-color: rgb(123, 41, 41);
    border-style:solid;
    border-collapse: collapse;padding: 100px 50px 50px 50px;
    text-align: center;
    
  }
  th
  {
      width: 25%;
      height: 50px;
      vertical-align: center;
  }
  td
  {
      
    width: 25%;
    height: 50px;
    vertical-align: center;


  }

      */