body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url("../images/web theme.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

input[type=submit] {
    height: .8cm;
    width: 2cm;
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: large;
    border-radius: 25px;
}

h1 {
    color: rgb(255, 255, 255);
}

nav {
    position: absolute;
    left: 100px;
    top: 30;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    margin-right: 25px;
    padding: 10px;
    border-radius: 10px;
}

nav .activee {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    margin-right: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e6ffff;
    color: black;
}

nav a:hover {
    background-color: #e6ffff;
    color: black;
}

.Table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    padding-left: 1em;
    border-radius: 7px 7px 7px 7px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.Table thead tr {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.Table th,
tr {
    padding: 20px 20px;
    width: 25px;
    height: 50px;
}

.Table tbody tr {
    border-bottom: 1px solid #ffffff;
    color: #e6ffff;
}

.Table tbody tr:nth-of-type(even) {
    background-color: rgb(173, 214, 235);
}

.Table tr:nth-last-of-type {
    border-bottom: 2px solid #009879;
}

.Table tbody tr:active {
    font-weight: bold;
    background-color: rgb(70, 164, 210);
}

tr:hover {
    text-align: center;
    background-color: rgb(31, 54, 79);
}

strong {
    color: #ffffff;
    margin: 10px;
}

select {
    height: .5cm;
    width: 4cm;
    border: 5px;
    border-radius: 3px;
    margin: 10px;
}

select:focus {
    min-width: 150px;
    width: auto;
}